.imgbg {
  height: 100%;
  width: 100%;
  padding: 30px auto;
}

/* .mint{
  display: flex;
  position: relative;
  justify-content: center;
  align-items:center ;
}
.ml{
  position: absolute;
  z-index: 1;
  margin-top: 60px;
  height: 40px;
}
.mintbtn{
 
  margin-top: 60px;
  height: 40px;
} */


/* .svgLogo {
  fill: #FFF;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: absolute;
  margin: auto;
  z-index: 1;
} */

